# services:
#   nginx:
#     image: nginx:alpine
#     container_name: myapp-nginx
#     ports:
#       - "8080:80"  # Seite unter http://NAS-IP:8080
#     volumes:
#       # Angular build
#       - /docker/myapp/frontend:/usr/share/nginx/html:ro
#       # nginx config
#       - /docker/myapp/nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
#     depends_on:
#       - backend
#     restart: unless-stopped

#   backend:
#     build:
#       context: /docker/documentscanner/backend/
#     container_name: myapp-backend
#     volumes:
#       - /docker/myapp/data/db:/app/db
#       - /docker/myapp/data/media:/app/media
#       - /docker/myapp/data/static:/app/static
#     environment:
#       # Example env vars
#       DJANGO_SETTINGS_MODULE: dein_projekt_name.settings
#       PYTHONUNBUFFERED: "1"
#       # DB config etc.
#     restart: unless-stopped

#   filewatcher:
#     build:
#       context: /docker/myapp/filewatcher
#     container_name: myapp-filewatcher
#     volumes:
#       # Ordner, den dein Script beobachten soll:
#       - /docker/myapp/watch:/watch
#     restart: unless-stopped
version: "3.9"

services:
  docuscan-backend:
    container_name: docuscan-backend
    build:
      context: .
      dockerfile: Dockerfile
    command: >
      gunicorn core.wsgi:application
      --bind 0.0.0.0:8000
      --workers 3
      --timeout 120
    env_file:
      - .env
    volumes:
      - .:/app
      - ./db:/app/db
    ports:
      - "127.0.0.1:8001:8000"
    restart: unless-stopped
